.elements {
  max-width: 880px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 20px;
}

.elements__element {
  background-color: rgba(255, 255, 255, 1);
  border: 1.5px solid rgba(0, 0, 0, 1);
  border-radius: 12px;
  position: relative;
}
.elements__trash {
  background-image: url("../images/Trash.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  height: 18px;
  width: 19px;
  border: none;
  background-color: transparent;
  top: 18px;
  right: 15px;
}

.elements__trash:hover {
  background-image: url("../images/Trashhover.svg");
}

.elements__paragraph {
  font-family: "Inter";
  font-weight: 900;
  font-size: 24px;
  line-height: 100%;
  margin-top: 25px;
  margin-bottom: 31px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.elements__image {
  height: 282px;
  width: 282px;
  border-radius: 12px;
}

.elements__division {
  margin: auto;
  max-width: 246px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.elements__heart {
  background-image: url("../images/Corazon.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 21px;
  border: none;
  background-color: rgba(255, 255, 255, 1);
  min-height: 19px;
}

.elements__heart:hover {
  background-image: url("../images/CorazonHover.svg");
}

.elements__heart:active {
  transform: scale(0.9);
}

.elements__heart_like {
  border: none;
  background-image: url("../images/CorazonActive.png");
}
