.footer {
  max-width: 880px;
  display: flex;
  margin: auto;
}

.footer__copyright {
  color: rgba(84, 84, 84, 1);
  padding-bottom: 60px;
  margin: 67px 0 0;
  max-width: 318px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
}

@media screen and (max-width: 525px) {
  .footer__copyright {
    font-family: "Inter";
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
  }
}
