.header {
  max-width: 880px;
  margin: 0 auto;
  padding-top: 45px;
  padding-bottom: 41px;
  border-bottom: 1px solid rgba(84, 84, 84, 1);
}

.header__vector {
  max-width: 173px;
}

@media screen and (max-width: 525px) {
  .header__vector {
    max-width: 126px;
  }

  .header {
    padding-bottom: 32px;
  }
}
