.profile {
  display: flex;
  justify-content: space-between;
  max-width: 880px;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 40px;
}

.profile__group {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 0;
  list-style-type: none;
}

.profile__avatar {
  border-radius: 50%;
  max-width: 120px;
  margin: 0;
  padding: 0;
}

.profile__info {
  display: flex;
  max-width: 415px;
  align-items: baseline;
}

.profile__name {
  color: rgba(255, 255, 255, 1);
  font-family: "Inter";
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  margin: 0 18px 0 0;
  padding: 0;
  max-width: 373px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__hobbies {
  color: rgba(255, 255, 255, 1);
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  margin: 16px 0 0;
  max-width: 415px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__button-edit {
  background-image: url("../images/EditButton.png");
  min-height: 24px;
  min-width: 24px;
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 1);
}

.profile__add-button {
  min-height: 50px;
  min-width: 150px;
  background-image: url("../images/AddButton.png");
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 1);
}

.profile__add-button:hover {
  background-image: url("../images/AddButtongris.png");
}

.profile__button-edit:hover {
  background-image: url("../images/EditButtongris.png");
}

@media screen and (max-width: 700px) {
  .profile {
    max-width: 640px;
    display: flex;
    flex-direction: column;
    margin: 0 auto 40px;
  }

  .profile__avatar {
    border-radius: 50%;
    max-width: 120px;
    margin: 0;
    padding: 0;
  }

  .profile__info {
    display: flex;
    max-width: 400px;
    align-items: baseline;
  }

  .profile__name {
    max-width: 350px;
  }

  .profile__hobbies {
    max-width: 350px;
  }

  .profile__button-edit {
    min-height: 20px;
    min-width: 20px;
  }
}

@media screen and (max-width: 525px) {
  .profile {
    margin-top: 42px;
  }

  .profile__info {
    max-width: 282px;
    justify-content: center;
  }

  .profile__group {
    gap: 26px;
    margin: 0 auto 36px;
    display: flex;
    flex-direction: column;
  }

  .profile__name {
    max-width: 196px;
    font-family: "Inter";
    font-weight: 500;
    font-size: 22px;
    line-height: 100%;
    text-align: center;
  }

  .profile__hobbies {
    max-width: 282px;
    font-family: "Inter";
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    margin-top: 14px;
    text-align: center;
  }

  .profile__button-edit {
    min-height: 18px;
    min-width: 18px;
  }

  .profile__add-button {
    min-width: 282px;
  }
}
